html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
    color: inherit;
}